.displayed-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    border-radius: 10px;
    height:8rem;
    width:6rem;
    margin: 2%;
}
.displayed-img{
    height:5rem;
    width:5rem;
}
.selected{
    background-color: aquamarine;
}

.displayed-item-modal{
    display: flex;
    justify-content: space-between;
    padding:5px;
    border-radius: 10px;
    height:1rem;
    width:100%;
    margin: 2%;
}
.displayed-img-modal{
    height:.5rem;
    width:.5rem;
}